usuario1@192.168.0.1:22    "Usuario1   - Descripción de la conexión 1"
usuario2@192.168.0.2:22    "Usuario2   - Descripción de la conexión 2"
usuario3@192.168.0.3:22    "Usuario3   - Descripción de la conexión 3"
