[Unit]
Description=Node exporter - Prometheus logging service
After=network.target

[Service]
ExecStart=/root/scripts/node_exporter_service/node_exporter --web.listen-address=:9000
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
